img {
    width: 35px;
    height: 35px;
}
header {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 84%;
}
header > a {
    width: 33.33%;
    margin: 10px 85px;
}
header > h1 {
    width: 33.33%;
    text-align: center;
    text-decoration: underline;
}
.title {
    margin: 0px 0px 10px 0px;
}
h1, p {
    margin: 0;
}
.search {
    text-align: right;
}

@media only screen and (max-width: 800px) {
    header {
        align-items: center;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    header > a {
        width: auto;
        margin: auto; 
    }
    header > h1 {
        width: auto;
        text-align: auto;
    }
  }